USE [master]
GO
/****** Object:  Database [QLTHUVIEN]    Script Date: 03/17/2018 16:36:25 ******/
CREATE DATABASE [QLTHUVIEN] ON  PRIMARY 
( NAME = N'QLTHUVIEN', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLTHUVIEN.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTHUVIEN_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLTHUVIEN_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTHUVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTHUVIEN]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 03/17/2018 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MADG] [char](10) NOT NULL,
	[TENDG] [nvarchar](50) NULL,
	[GIOITINH] [nchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[NGAYCAPTHE] [date] NULL,
	[NGAYHETHAN] [date] NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 03/17/2018 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [char](11) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 03/17/2018 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGIN](
	[USERS] [char](20) NOT NULL,
	[PASS] [char](20) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[USERS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VITRI]    Script Date: 03/17/2018 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VITRI](
	[MAVT] [char](10) NOT NULL,
	[VITRI] [nvarchar](50) NULL,
 CONSTRAINT [PK_VITRI] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 03/17/2018 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MATL] [char](10) NOT NULL,
	[TENTL] [nvarchar](50) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MATL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 03/17/2018 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [char](10) NOT NULL,
	[TENTG] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 03/17/2018 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[MASCH] [char](10) NOT NULL,
	[MATL] [char](10) NULL,
	[MAVT] [char](10) NULL,
	[TENSACH] [nvarchar](50) NULL,
	[NOIDUNG] [nvarchar](50) NULL,
	[SOTRANG] [int] NULL,
	[MATG] [char](10) NULL,
	[NGONNGU] [nvarchar](50) NULL,
	[NHAXUATBAN] [nvarchar](50) NULL,
	[NGAYMUASACH] [date] NULL,
	[GIATHUE] [int] NULL,
	[TONTAI] [int] NULL,
	[GHICHU] [nvarchar](500) NULL,
	[ANH] [nvarchar](100) NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASCH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADONMUON]    Script Date: 03/17/2018 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADONMUON](
	[MAPM] [char](10) NOT NULL,
	[MADG] [char](10) NULL,
	[MANV] [char](10) NULL,
	[TIENCOC] [int] NULL,
	[TONGTIEN] [int] NULL,
 CONSTRAINT [PK_HOADONMUON] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETMUON]    Script Date: 03/17/2018 16:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETMUON](
	[MAPM] [char](10) NOT NULL,
	[MASACH] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[NGAYTHUE] [date] NULL,
	[NGAYTRA] [date] NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHITIETMUON] PRIMARY KEY CLUSTERED 
(
	[MAPM] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_SACH_TACGIA]    Script Date: 03/17/2018 16:36:26 ******/
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
/****** Object:  ForeignKey [FK_SACH_THELOAI]    Script Date: 03/17/2018 16:36:26 ******/
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THELOAI] FOREIGN KEY([MATL])
REFERENCES [dbo].[THELOAI] ([MATL])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAI]
GO
/****** Object:  ForeignKey [FK_SACH_VITRI]    Script Date: 03/17/2018 16:36:26 ******/
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_VITRI] FOREIGN KEY([MAVT])
REFERENCES [dbo].[VITRI] ([MAVT])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_VITRI]
GO
/****** Object:  ForeignKey [FK_HOADONMUON_DOCGIA]    Script Date: 03/17/2018 16:36:26 ******/
ALTER TABLE [dbo].[HOADONMUON]  WITH CHECK ADD  CONSTRAINT [FK_HOADONMUON_DOCGIA] FOREIGN KEY([MADG])
REFERENCES [dbo].[DOCGIA] ([MADG])
GO
ALTER TABLE [dbo].[HOADONMUON] CHECK CONSTRAINT [FK_HOADONMUON_DOCGIA]
GO
/****** Object:  ForeignKey [FK_HOADONMUON_NHANVIEN]    Script Date: 03/17/2018 16:36:26 ******/
ALTER TABLE [dbo].[HOADONMUON]  WITH CHECK ADD  CONSTRAINT [FK_HOADONMUON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADONMUON] CHECK CONSTRAINT [FK_HOADONMUON_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_CHITIETMUON_HOADONMUON]    Script Date: 03/17/2018 16:36:26 ******/
ALTER TABLE [dbo].[CHITIETMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETMUON_HOADONMUON] FOREIGN KEY([MAPM])
REFERENCES [dbo].[HOADONMUON] ([MAPM])
GO
ALTER TABLE [dbo].[CHITIETMUON] CHECK CONSTRAINT [FK_CHITIETMUON_HOADONMUON]
GO
/****** Object:  ForeignKey [FK_CHITIETMUON_SACH]    Script Date: 03/17/2018 16:36:26 ******/
ALTER TABLE [dbo].[CHITIETMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETMUON_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASCH])
GO
ALTER TABLE [dbo].[CHITIETMUON] CHECK CONSTRAINT [FK_CHITIETMUON_SACH]
GO
